{% extends "base.html" %}


{% block content %}

  <h1>Detail</h1>
  <h2>{{ post.pk }} 번째 글</h2>
  <hr>
  <p>작성자 : {{ post.user.username }}</p>
  <p>제목: {{ post.title }}</p>
  <p>내용: {{ post.content }}</p>
  <p>작성일: {{ post.created_at }}</p>
  <p>수정일: {{ post.updated_at }}</p>

  <hr>
  <ul>
  {% for comment in comments %}
    <li>
      {{comment.user}} - {{ comment.content }}
      {% if request.user == comment.user %}
        <form action="{% url "posts:comments_delete" post.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제">
        </form>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  <hr>
  <form action="{% url "posts:comments_create" post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>

  <hr>
  {% if request.user == post.user %}
    <a href="{% url "posts:update" post.pk %}">수정하기</a><br>
    <form action="{% url "posts:delete" post.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제하기">
    </form>
  {% endif %}
  <a href="{% url "posts:index" %}">[메인 페이지로]</a>




{% endblock content %}




